<!DOCTYPE HTML>
<html>
<body>
<h1>Articles index</h1>
<% articlesList.forEach(function(article) { %>
<div>
  <%= article.title %>
  <div>
    <%= article.summary %>
  </div>
</div>
<% }) %>
</body>
</html>