<!DOCTYPE>
<html>
<head>
  <title>The Daily Planet - Articles</title>
  <link href='http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/articles">Articles</a>
    <a href="/articles/new">Submit</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
  <div>
    <h2>
      <%= articles.title %>
    </h2>
    <h3>
      <%= articles.author %>
    </h3>
    <div>
      <%= articles.content %>
    </div>
  </div>
  <div>
    <form action="/articles/<%= articles.id %>?_method=DELETE" method="post">
      <button class="delete">DELETE</button>
    </form>
  </div>
</body>
</html>