nav {
	display: inline;
	
}

nav a{
	margin-left: 20px;
	margin-right: 20px;
	color: blue;
}

.selected {
	font-weight: bold;
}

.delete {
	margin-top: 30px;
}

.submit {
	vertical-align: bottom;
}

form {
	margin-top: 80px;
}

