<!DOCTYPE html>
<html>
<head>
  <title>DAILY PLANET APP</title>
  <h1>THE DAILY PLANET</h1>
</head>
<body>
  <ul>
     <li><a href="/articles">All Articles</a></li>
     <li><a href="/site/about" class="selected">About Us</a></li>
     <li><a href="/site/contact">Contact Us</a></li>
  </ul>

</body>
</html>