<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link href="stylesheets/main.css" rel="stylesheet">
</head>
<body>
<nav>
	<a href="/">Home</a>
	<a href="/articles">Articles</a>
	<a href="/articles/new">Add New</a>
	<a href="/about" class="selected">About Us</a>
	<a href="/contact">Contact Us</a>
</nav>
	<h1><b>About The Daily Planet</b></h1>
	<p>
	</p>
</body>
</html>