<!DOCTYPE>
<html>
<head>
	<title>The Daily Planet - About</title>
	<link href='http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  	<link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/articles">Articles</a>
    <a href="/articles/new">Submit</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
	<h2>About</h2>
		<p>The Daily Planet is your number one newsource in Metropolis.</p>
</body>
</html>