<!DOCTYPE html>
<html>
<head>
	<title> Contact Us </title>
	<link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
	  <nav>
      <a href="/"> Home </a>
      <a href="/articles" > Articles </a>
      <a href="/articles/new"> Submit </a>
      <a href="/contact" class="selected"> Contact Us </a>
    </nav>

    <h1> Tips Hotline! </h1>
    <h2> (800) 555-FOOD </h2>
</body>
</html>