<!DOCTYPE>
<html>
<head>
  <title>The Daily Planet - Contact</title>
  <link href='http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/articles">Articles</a>
    <a href="/articles/new">Submit</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
  <h2>Contact</h2>
    <p>The Daily Planet</p>
    <p>Heart of Metropolis</p>
    <p>111.111.1111</p>
    <p><a href="mailto:thedailyplanet@thedailyplanet.com">thedailyplanet@thedailyplanet.com</a></p>
</body>
</html>