<!DOCTYPE html>
<html>
<head>
	<title> Food News Homepage </title>
	<link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
	  <nav>
      <a href="/" class="selected"> Home </a>
      <a href="/articles" > Articles </a>
      <a href="/articles/new"> Submit </a>
      <a href="/contact"> Contact Us </a>
    </nav>

    <h1> Welcome to news about food! </h1>
</body>
</html>