<!DOCTYPE html>
<html>
<head>
	<title> ARTICLES </title>
	<link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
    <h1> THE DAILY PLANET </h1>
    <ul>
      <li><a href="/" class="selected"> Home </a></li>
      <li><a href="/articles" > Articles </a></li>
      <li><a href="/articles/new"> Submit </a></li>
      <li><a href="/contact"> Contact Us </a></li>
     </ul

</body>
</html>